
.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
}

.trigger {
  width: 100%;
  justify-content: space-between;
  text-align: left;
  font-weight: normal;
}

.placeholder {
  color: #9ca3af;
}

.icon {
  height: 1rem;
  width: 1rem;
  opacity: 0.5;
}

.content {
  width: auto;
  padding: 0;
}
